.columns-wrapper {
    width: 80em;
    min-height: 50em;
    padding: 3em 3em 3em 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #66ffff;
}

.my-compulsory-courses-column {
    width: 30%;
    min-height: 45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #99c2ff;
}

.myCompulsoryCoursesPageNumbers,
.myCompulsoryCoursesRemove,
.myCompulsoryCoursesFilter {
    width: 100%;
}

.myCompulsoryCoursesFilter {
    min-height: 26em;
    padding-top: 3.6em;
    background: #ccffff;
}

.myCompulsoryCoursesPageNumbers {
    min-height: 10em;
    padding-top: 2.4em;
    background: #ffff1a;   
}

.my-compulsory-courses {
    width: 100%;
    min-height: 45em;
    padding-top: 2em;
    padding-right: 3em;
    padding-bottom: 1.5em;
    list-style: none;
}

.my-compulsory-course {
    width: 60%;
    min-height: 3.5em;
    padding: 0.1em 0 0.85em 0;
    margin: 2em auto;
    background-color: #ffffff;
}

.recentMessageCompulsory {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #b3ffb3;
}

.message {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #ffd699;   
}

.my-elective-courses-column {
    width: 30%;
    min-height: 45em;
    background: #ffff66;
}

.my-elective-courses {
    width: 100%;
    min-height: 45em;
    padding-top: 2em;
    padding-right: 2.8em;
    list-style: none;
}

.myElectiveCoursesPageNumbers,
.myElectiveCoursesRemove,
.myElectiveCoursesFilter {
    width: 100%;
}

.my-elective-course {
    width: 70%;
    min-height: 3.5em;
    padding: 0.05em 0.4em 0.85em 0.4em;
    margin: 2em auto;
    background-color: #ffb3ff;
}

.recentMessageElective {
    padding: 0.5em 0.5em 0.75em 0.5em;
    background: #ecffb3;
}

.messageElective {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: #4dffff;   
}

.myElectiveCoursesFilter {
    width: 100%;
    height: 26em;
    padding-top: 3.6em;
    background: #fff5cc;
}

.myElectiveCoursesPageNumbers {
    min-height: 10em;
    padding-top: 2em;
    background: #66a3ff;   
}

.myElectiveCoursesRemove {
    min-height: 10em;
    padding-top: 3.25em;
}

.myElectiveCoursesRemove .remove-all-elective {
    width: 10em;
    font-size: 1.25em;
    padding: 0.35em 1.5em 0.5em 1.5em;  
    margin-bottom: 2.5em; 
    text-decoration: none;
    color: #ffffff;
    background-color: #0000e6;
    cursor: pointer;
}

.remove-all-elective:hover,
.remove-all-elective:focus{
    color: #0000e6;
    background-color: #ccccff;
}

.table {
    padding-top: 5em;
}

