.tabbable {
    padding: 3.5em 2em 2em 2em;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.first-wrapper {
   width: 50em; 
   height: 50em; 
   background: red;
}

.second-wrapper {
   width: 50em; 
   height: 50em; 
   background: blue;
}