@import "./styles/base/color_variables.scss";
@import "./styles/base/font_variables.scss";
@import "./styles/base/mixins.scss";
@import "./styles/base/media_queries.scss";
@import "./styles/base/flexbox_mixins.scss";

// navigation
.navigation-menu,
.navigation-list {
    @include flexbox();
    @include flex-direction(row);
    
    @media #{$screen-laptop-down} {
        margin: 0 auto;
    }
}

.navigation-menu {
    .navigation-list {
        font-size: 1.6em;
        list-style: none;

        .navigation-item {
            padding-right: 2em;

            &:hover,
            &:focus {
                color: $color-stress;
                border-bottom-style: 0;
            }
        }
    }
}