/*PREMENNÉ = FONTY*/

$font-size-base: 100%;
$font-sans: trajan-pro-3;
$font-family: 'Cormorant Garamond';
$font-weight-light: 300;
$font-weight-normal: 400;
$min-width-base: 100%;
$auto-height: auto;